<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSTLTest_20220908</display-name>
  
  <!-- 웹 어플리케이션의 기본 리소스 번들 설정 -->
  <context-param>
  	<param-name>javax.servlet.jsp/jstl.fmt.localizationContext</param-name>
  	<param-value>props.message</param-value>
  </context-param>
  
  <!-- local timeZone 설정 -->
  <context-param>
  	<param-name>javax.servelt.jsp.jstl.fmt.timeZone</param-name>
  	<param-value>Asia/Seoul</param-value>
  </context-param>
  
</web-app>